---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contacto">
    <div class="flex justify-center items-center">
        <p class="text-white">En construccion</p>
    </div>
</Layout>