---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Historia">

    <div class="flex justify-center items-center">
        <div class="flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
            <h1 class=" text-black text-5xl text-center">En Construccion</h1>
        </div>
    </div>

</Layout>