---
import { Image } from 'astro:assets';
import Logo from '../assets/cangrena_logo_plata.png';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cangrena 1994 - 2024</title>
	</head>
	<body class="bg-gray-950">

		<div class="flex justify-center items-center">
			<Image src={Logo} alt="Logo Cangrena" width="800"/>
		</div>
		<div class="text-center text-white">
			<a href="/principal">Entrar</a>
		</div>
	</body>
</html>