---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Cangrena 1994 - 2024">

    <div class="flex justify-center items-center">
        <div class="flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
            <h1 class=" text-black text-5xl text-center font-nosifer">Noticias</h1>
        </div>
    </div>


    <div class="flex justify-center items-center px-3">
        <div class="p-8">
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam provident accusantium reprehenderit architecto sit deleniti, mollitia, ipsum saepe, ipsam ut minus vitae dolores ad? Quidem, adipisci! Maxime, architecto distinctio!
                Illum sapiente maxime minima itaque fugiat doloribus non quo, recusandae labore corporis eveniet, dignissimos laborum reprehenderit odio rem quas iste numquam consequatur totam quam aliquid velit possimus. Nemo, nam corrupti.
                Esse est sit recusandae voluptatem dolor voluptas rerum aut ipsa ut tempore, quo corporis fuga doloremque optio excepturi dolores blanditiis neque repellendus accusantium et nam. Recusandae quia dolor rerum quae.
                Repudiandae enim asperiores itaque natus accusamus doloribus! At quos sit voluptate et dolorum saepe, dolorem ducimus, in delectus odio eos. Pariatur repellendus labore reiciendis eligendi veniam aliquid perspiciatis, nesciunt odit.
                Ullam atque accusantium quia nihil officiis veritatis voluptatum exercitationem reiciendis quibusdam deserunt, rem distinctio a tenetur, quas eaque ducimus quos laboriosam? Quasi voluptas, impedit assumenda dolorum quos eveniet facere dolores.
                Dolores doloremque minima culpa unde laborum beatae cupiditate dolor aliquam sunt adipisci a, molestias consectetur tempora iusto quia voluptas enim perferendis placeat quo est? Perferendis blanditiis quod quas sint natus?
                Explicabo odio ab consectetur enim necessitatibus optio dolorem aspernatur commodi voluptas cum ullam, alias aperiam, tempore accusantium quae aliquam laborum eius incidunt, vel neque non omnis saepe culpa sed. Harum.
                Maxime repellendus ex ducimus hic dolorum harum consequuntur. Nemo aliquam iste repellat voluptate aspernatur, doloremque distinctio praesentium nobis! Sunt alias numquam dolorum. Nostrum veniam beatae consequatur cupiditate nihil odit aut.
                Tenetur repudiandae enim placeat, laboriosam rem reiciendis distinctio? Dolore molestiae laborum laboriosam voluptate amet nisi sequi libero ratione numquam impedit, dicta quasi et illum pariatur culpa doloremque blanditiis ducimus officia.
                Expedita vero autem repellendus fugit quod quis ipsa fuga? Nesciunt earum, asperiores dolorem consequuntur molestiae tenetur ducimus voluptatum distinctio commodi placeat aspernatur sit aut aperiam fugiat explicabo totam. Suscipit, adipisci!
            </p><br>
                
            <p class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolor velit neque omnis vel praesentium laudantium accusamus dicta eum doloremque pariatur recusandae, aspernatur ex maxime sequi, reprehenderit commodi odio. Et?
                Recusandae distinctio nam facere suscipit iure voluptatibus minima quae ut! Ratione, ipsam quod. Cum, eius voluptas eligendi perspiciatis dicta repellat aperiam veritatis necessitatibus fugit aliquid! Culpa impedit quaerat odit est?
                Sed quis voluptate reiciendis. Quas, adipisci! Voluptatibus eligendi culpa doloremque cupiditate optio dolorem. Nam consequuntur quidem ullam ipsum saepe quas facere incidunt voluptatibus voluptatum hic architecto expedita ipsa, molestiae praesentium.
                Soluta excepturi eius earum veniam itaque provident ea ipsam ullam pariatur, facere obcaecati veritatis. Autem ex amet omnis veritatis perferendis dolor, quam delectus numquam animi modi odio eligendi ducimus eum!
                Veritatis laudantium quisquam, alias provident ipsum amet placeat. Minus cum temporibus corporis minima nemo, repudiandae dignissimos reprehenderit voluptate commodi veniam voluptatum perferendis quibusdam magni sequi, laudantium blanditiis, eius eum totam?
                Ipsum at et, possimus sed id consequatur nesciunt. Quis iusto maxime sint ipsum impedit eos consectetur, laborum beatae quo itaque excepturi molestiae commodi dolore ut pariatur nostrum! Aut, placeat assumenda?
                Tempora un de debitis dolor atque eius cum tenetur ratione placeat, modi esse. Placeat iste architecto quis quos deleniti necessitatibus et beatae. Totam quidem, accusamus excepturi ea earum recusandae sed rem.
            </p><br>

            <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, cupiditate nobis adipisci animi quod quibusdam optio voluptatem placeat doloremque rerum accusantium fuga sint laboriosam ipsum provident facilis cum modi consequatur?
                Doloremque rem facilis itaque ad doloribus! Officia iure debitis, reiciendis est cupiditate ipsam nihil amet, nostrum esse, quia praesentium inventore facilis corporis dolorum ad maiores omnis reprehenderit adipisci earum non?
                Eveniet modi itaque perspiciatis quis doloremque et, aut impedit perferendis exercitationem neque. Placeat dignissimos cupiditate ullam nostrum sunt ad doloribus facere earum excepturi repellendus, doloremque sed odio ratione reiciendis! Obcaecati!
                Aliquid molestias harum magni quas qui sapiente nostrum necessitatibus explicabo itaque, earum reiciendis placeat ab dolorum est illum suscipit aut impedit optio? Repellendus iure atque ad cum laudantium aspernatur tempore?
                Architecto, corporis? Iusto enim odit est ducimus eaque sit deserunt, quis assumenda ad, at reiciendis cum omnis pariatur velit. Alias nihil officiis dignissimos aperiam ratione iure ducimus quo quasi deleniti!
                Labore ab cupiditate atque eos fugiat fuga magni necessitatibus dolorum officia odio quia libero mollitia iusto, placeat earum officiis accusantium? Commodi distinctio error ipsam voluptatibus ipsa aliquam necessitatibus magni nihil.
                Amet maxime reiciendis asperiores harum impedit nihil repellat, laborum provident eligendi, quos unde! Ipsam quas, eius dolore aliquid omnis labore quidem impedit porro iusto minus at voluptatibus! Eaque, voluptas recusandae?
                Neque minima nam numquam laboriosam velit accusantium ipsam commodi cumque, ea, ipsa earum dolore laudantium. Assumenda vero modi labore nesciunt dolores, inventore blanditiis unde, deleniti, sint laborum repellendus reiciendis dolorem.
                Dolorem a enim vero rem excepturi fugit commodi, aliquam delectus cupiditate, pariatur molestiae maxime velit aut assumenda dolores porro blanditiis. Numquam, assumenda incidunt consectetur odit dolor praesentium hic rem illum!
                Ipsam vel officia provident, blanditiis repudiandae illo facilis omnis amet doloremque, eaque nostrum rerum a atque similique nemo velit aliquam explicabo molestias ea eum iusto inventore? Nemo tenetur repudiandae ullam!
                Repellendus at labore consectetur alias et temporibus aut sit distinctio, similique molestias molestiae placeat nihil voluptatum, tenetur odio ex! Accusamus officia necessitatibus ullam facere optio accusantium cupiditate, beatae placeat incidunt!
                Dicta qui aliquam odit aspernatur voluptatum? Enim officiis, dolores odio ipsam consectetur quis laudantium, sit vel debitis quidem doloremque est vero quaerat! Reiciendis at officiis facere, laudantium perferendis ab voluptatum.
                Tenetur iusto a, ea, soluta reprehenderit similique nihil delectus eveniet cumque expedita excepturi accusamus ipsam aliquid modi obcaecati labore asperiores praesentium consequuntur corrupti veniam fuga repellat laudantium aliquam numquam? Sequi?
                Error doloribus quia ab? Quibusdam, totam quod? Atque fugit cum ducimus, nam quaerat a eius praesentium sunt quia libero repudiandae illo! Ipsa id quisquam eveniet explicabo aut molestiae blanditiis veniam.
                Consequatur suscipit quae nisi expedita sed iure, cumque ullam, assumenda pariatur commodi earum quas quod illum voluptatibus autem voluptas tempora nemo nostrum esse? Dicta nam odio corrupti, illum amet nostrum.
            </p>

        </div>


    </div>
    
</Layout>