---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Cangrena 1994 - 2024">

    <div class="flex justify-center items-center">
        <div class="flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
            <h1 class=" text-black text-5xl text-center">Noticias</h1>
        </div>
    </div>


    <div class="flex justify-center items-center px-3">

        <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam provident accusantium reprehenderit architecto sit deleniti, mollitia, ipsum saepe, ipsam ut minus vitae dolores ad? Quidem, adipisci! Maxime, architecto distinctio!
    Illum sapiente maxime minima itaque fugiat doloribus non quo, recusandae labore corporis eveniet, dignissimos laborum reprehenderit odio rem quas iste numquam consequatur totam quam aliquid velit possimus. Nemo, nam corrupti.
    Esse est sit recusandae voluptatem dolor voluptas rerum aut ipsa ut tempore, quo corporis fuga doloremque optio excepturi dolores blanditiis neque repellendus accusantium et nam. Recusandae quia dolor rerum quae.
    Repudiandae enim asperiores itaque natus accusamus doloribus! At quos sit voluptate et dolorum saepe, dolorem ducimus, in delectus odio eos. Pariatur repellendus labore reiciendis eligendi veniam aliquid perspiciatis, nesciunt odit.
    Ullam atque accusantium quia nihil officiis veritatis voluptatum exercitationem reiciendis quibusdam deserunt, rem distinctio a tenetur, quas eaque ducimus quos laboriosam? Quasi voluptas, impedit assumenda dolorum quos eveniet facere dolores.
    Dolores doloremque minima culpa unde laborum beatae cupiditate dolor aliquam sunt adipisci a, molestias consectetur tempora iusto quia voluptas enim perferendis placeat quo est? Perferendis blanditiis quod quas sint natus?
    Explicabo odio ab consectetur enim necessitatibus optio dolorem aspernatur commodi voluptas cum ullam, alias aperiam, tempore accusantium quae aliquam laborum eius incidunt, vel neque non omnis saepe culpa sed. Harum.
    Maxime repellendus ex ducimus hic dolorum harum consequuntur. Nemo aliquam iste repellat voluptate aspernatur, doloremque distinctio praesentium nobis! Sunt alias numquam dolorum. Nostrum veniam beatae consequatur cupiditate nihil odit aut.
    Tenetur repudiandae enim placeat, laboriosam rem reiciendis distinctio? Dolore molestiae laborum laboriosam voluptate amet nisi sequi libero ratione numquam impedit, dicta quasi et illum pariatur culpa doloremque blanditiis ducimus officia.
    Expedita vero autem repellendus fugit quod quis ipsa fuga? Nesciunt earum, asperiores dolorem consequuntur molestiae tenetur ducimus voluptatum distinctio commodi placeat aspernatur sit aut aperiam fugiat explicabo totam. Suscipit, adipisci!</p>
    </div>
    
</Layout>