---
import Layout from "../layouts/Layout.astro"
const posts = await Astro.glob('../pages/content/noticias/*.md');
---

<Layout title="Cangrena 1994 - 2024">

    <div class="flex justify-center items-center">
        <div class="flex justify-center items-center bg-amber-400 h-20 w-4/5 mb-5">
            <h1 class=" text-black text-5xl text-center font-nosifer">Noticias</h1>
        </div>
    </div>


    <div class="flex justify-center items-center px-3">
        <div class="p-8">
            <ul>
                {posts.reverse().map(post => (
                    <li><a href={post.url}><span class="text-white">{post.frontmatter.title}</span></a></li>
                    
                ))}
            </ul>

        </div>


    </div>
    
</Layout>