---
const anio = new Date();
const anio2 = new Date();

anio.getFullYear();
anio2.setFullYear(2024);

---

<div>
    <p class="text-white">&copy; {anio2.getFullYear()} - {anio.getFullYear()} Cangrena.</p>
</div>