<div>
    <ul>
        <li class="mb-2 ml-2 text-white"><a href="/principal">Principal</a> </li>
        <li class="mb-2 ml-2 text-white"><a href="/historia">Historia</a> </li>
        <li class="mb-2 ml-2 text-white"><a href="/discografia">Discografia</a> </li>
        <li class="mb-2 ml-2 text-white"><a href="/contacto">Contacto</a> </li>
    </ul>
</div>