<div class="md:fixed">
    <ul>
        <li class="sm:text-base text-white  md:text-white text-xl font-cinzel font-bold pb-2 pl-2"><a href="/principal">Principal</a> </li>
        <li class="sm:text-base text-white  md:text-white text-xl font-cinzel font-bold pb-2 pl-2"><a href="/historia">Historia</a> </li>
        <li class="sm:text-base text-white  md:text-white text-xl font-cinzel font-bold pb-2 pl-2"><a href="/discografia">Discografia</a> </li>
        <li class="sm:text-base text-white  md:text-white text-xl font-cinzel font-bold pb-2 pl-2"><a href="/contacto">Contacto</a> </li>
    </ul>
</div>