<div>
    <ul>
        <li class="pb-2 pl-2 text-white text-xl"><a href="/principal">Principal</a> </li>
        <li class="pb-2 pl-2 text-white text-xl"><a href="/historia">Historia</a> </li>
        <li class="pb-2 pl-2 text-white text-xl"><a href="/discografia">Discografia</a> </li>
        <li class="pb-2 pl-2 text-white text-xl"><a href="/contacto">Contacto</a> </li>
    </ul>
</div>