<div>
    <ul>
        <li class="mb-2 ml-2">Principal</li>
        <li class="mb-2 ml-2">Historia</li>
        <li class="mb-2 ml-2">Discografia</li>
        <li class="mb-2 ml-2">Contacto</li>
    </ul>
</div>